# B"H

*
!k8s
!fzf
!utils
utils/*
!utils/colors
!utils/shell-functions
!utils/state-files
!resources
 
k8s/*
fzf/*
#utils/*
utils/state-files/*
utils/shell-functions/*
utils/colors/*
resources/*

k8s/k8s-prompt-state.bash
!k8s/prompt-k8s.bash
!k8s/helmfile-autocomplete.bash
!k8s/k8s-aliases.bash
!gitignore
!prompt.bash
!add-to-dot-bash
!fzf/key-bindings.bash
!fzf/gcloud.bash
!fzf/fzf-hist.bash
!fzf/fzf.bash
!fzf/completion.bash
!fzf/kube.bash
!fzf/forgit.bash
!utils/colors/colors-codes.bash
!utils/colors/bg-colors.py
!utils/colors/colors.py
!utils/shell-functions/prompt-utils.bash
!utils/state-files/k8s-prompt-state.bash
!utils/state-files/prompt-state.bash
!resources/emojis-list.txt
!.gitignore
!archive/.gitconfig
!archive/.vimrc
!README.md
!customize.bash
