# B"H

*
!k8s
!fzf
!resources 
k8s/*
fzf/*
resources/*

k8s/k8s-prompt-state.bash
!k8s/prompt-k8s.bash
!k8s/helmfile-autocomplete.bash
!k8s/k8s-aliases.bash
!gitignore
!prompt.bash
!add-to-dot-bash
!fzf/key-bindings.bash
!fzf/gcloud.bash
!fzf/fzf-hist.bash
!fzf/fzf.bash
!fzf/completion.bash
!fzf/kube.bash
!fzf/forgit.bash
!resources/colors.py
!.gitignore
!archive/.gitconfig
!archive/.vimrc
!README.md
!customize.bash
